@model IEnumerable<acme.atena.application.Handler.Fornecedores.Commands.Response.FornecedorQuery>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Criar" class="btn btn-primary">Cadastrar</a>
</p>
<table id="tabela-fornecedor" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeFantasia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InscricaoMunicipal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CpfCnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.DataCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataModificacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInativacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioModificacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeFantasia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InscricaoMunicipal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CpfCnpj)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Celular)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNascimento)
                </td>
                <td>
                    @Html.ActionLink($"Editar", "Editar", new {  id=item.Id  },new {@class="btn btn-sm btn-warning"})
                    @Html.ActionLink("Detalhes", "Detalhes", new {  id=item.Id  },new {@class="btn btn-sm btn-success"})
                    @Html.ActionLink("Remover", "Remover", new {  id=item.Id  },new {@class="btn btn-sm btn-danger"})
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCriacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataModificacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataInativacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioCriacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioModificacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>

            </tr>
        }
    </tbody>
</table>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $("#tabela-fornecedor").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    });
</script>