@model IEnumerable<acme.atena.application.Handler.Produtos.Commands.Response.OutputProdutoCommand>

@{
    ViewData["Title"] = "Index";
}

<h1>Produto</h1>

<p>
    <a asp-action="Criar" class="btn btn-primary">Cadastrar</a>
</p>
<table id="tabela-produtos" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Validade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Validade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCriacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink($"Editar", "Editar", new {  id=item.Id  },new {@class="btn btn-sm btn-warning"})
                    @Html.ActionLink("Detalhes", "Detalhes", new {  id=item.Id  },new {@class="btn btn-sm btn-success"})
                    @Html.ActionLink("Remover", "Remover", new {  id=item.Id  },new {@class="btn btn-sm btn-danger"})
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $("#tabela-produtos").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    });
</script>